@model PostInfoViewModel

@{
    ViewData["Title"] = "首页";
}

<div class="display_flex justify-content-between">
    <div class="post-container mt-40">
        @Html.Partial("_PageList", Model.PostList)
    </div>
    <div class="right-container">
        <div class="card mt-40 post-card">
            <div class="card-body ">
                <h4 class="card-title post-title">分区</h4>
                <div>
                    @foreach (var item in Model.CategoryList)
                    {
                        <span class="tag-text">@item.CategoryName</span>
                    }
                </div>
            </div>
        </div>
        <div class="card mt-40 post-card">
            <div class="card-body ">
                <h4 class="card-title post-title">标签</h4>
                <div>
                    @foreach (var item in Model.TagList)
                    {
                        <span class="tag-text">@item.TagName</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>