<nav class="nav flex-column">
    <div>
        <h4 class="text-left nav-text nav-box">导航</h4>
        <div class="nav-btn-group">
            <button class="nav-link nav-box nav-link-color text-center" aria-current="page" onclick="getCategoryList()">分类管理</button>
            <button class="nav-link nav-box nav-link-color text-center" onclick="getPostList()">文章管理</button>
        </div>
    </div>
</nav>
