@{
    ViewData["Title"] = "个人中心";
}

<div class="admin-container">
    <div class="admin-nav-container text-center card post-card">
        @Html.Partial("_Nav")
    </div>
</div>

<style>
    .admin-container { margin-top: 100px; width: 100%; padding: 50px 20px; border: 1px solid #ffdbdb; box-shadow: 0 2px 12px 0 #fff0f2; }
    .admin-nav-container { width: 30%; margin: 100px 0px; }
    .nav-box{
        border-bottom:1px solid #f1d3d3
    }
</style>