@model List<CategoryViewModel>

@{
    ViewData["Title"] = "个人中心";
}

<div class="admin-container">
    <div class="w-25">
        <div class="admin-nav-container text-center card post-card">
            @Html.Partial("_Nav")
        </div>
    </div>
    <div id="admin_manage" class="ml-30 w-100">
        @Html.Partial("_CategoryList", Model)
    </div>
</div>

<style>
    #admin_manage button,#admin_manage a  { border: 1px solid #f2e7e7; }
</style>