@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager

<ul class="nav navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="dropdown">
            <a id="manage" class="dropdown-toggle" data-toggle="dropdown">
                Hello @UserManager.GetUserName(User)!
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-controller="Author" asp-action="Index" asp-route-id="@UserManager.GetUserAsync(User).Result.Id" class="dropdown-item">个人主页</a>
                </li>
                <li>
                    <a href="/Admin/Index" class="dropdown-item">个人中心</a>
                </li>
                <li>
                    <a href="/Post/Edit" class="dropdown-item">发表文章</a>
                </li>
                <li>
                    <form id="logoutForm" class="form-inline dropdown-item" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark" style="right:0;padding-left:0">退出登录</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="Account" asp-action="Register">注册</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Account" asp-action="Login">登录</a>
        </li>
    }
</ul>
